asgiref==3.5.0
astroid==2.11.3
backports.zoneinfo==0.2.1
cffi==1.15.0
cryptography==36.0.2
dill==0.3.4
Django==4.0.4
django-rest-knox==4.2.0
djangorestframework==3.13.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
psycopg2==2.9.3
pycparser==2.21
pylint==2.13.7
python-dotenv==0.20.0
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.2.0
wrapt==1.14.0
